/hudson.model.UpdateCenter.xml
/hudson.tasks.Maven.xml
/identity.key.enc
/jenkins.install.InstallUtil.lastExecVersion
/jenkins.install.UpgradeWizard.state
/jenkins.model.JenkinsLocationConfiguration.xml
/jenkins.mvn.GlobalMavenConfig.xml
/jenkins.telemetry.Correlator.xml
/jobs/**/builds/
/jobs/**/workspace/
/jobs/**/nextBuildNumber
!/jobs/**/config.xml
/nodeMonitors.xml
/org.jenkinsci.plugins.workflow.flow.FlowExecutionList.xml
/plugins/
/queue.xml
/secret.key
/secret.key.not-so-secret
/secrets/
/updates/
/userContent/
/users/
/war/
/workspace/
