<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1508.v9cb_c3a_a_89dfd">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2254.v2a_978de46f35"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2254.v2a_978de46f35">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4080.va_15b_44a_91525">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;Checkout&apos;) {
            steps {
                cleanWs()
                sh &apos;git config --global core.repositoryCacheExpireAfter 100 &amp;&amp; git config --global core.repositoryCacheCleanupDelay 1397&apos;
                checkout scmGit(branches: [[name: &apos;*/master&apos;]], 
                                userRemoteConfigs: [[url: &apos;https://github.com/jenkinsci/xshell-plugin.git&apos;]])
                sh &apos;git config --global --list &amp;&amp; git branch &amp;&amp; git log -n 1&apos;
            }
        }
    }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>